body
{
	align item: center;
}
body 
{ 
color : white;
background-color : <img src="https://s2.qwant.com/thumbr/474x266/6/8/3950ad75489dbc7d2a24cdb0171aaa02e0a818bc265b96b323eb6ea6af22de/th.jpg?u=https%3A%2F%2Ftse.mm.bing.net%2Fth%3Fid%3DOIP.FD3JxCDGtPtsHYyx3tENsQHaEK%26pid%3DApi&q=0&b=1&p=0&a=0" border=10  alt="text"></div>;
font-family: verdana; 
font-size: 8.5pt;
line-height:1.5;

}

nav
{
	width: 1000px;
	margin:0 auto;
	background-color: blue;
	text-align: center;
	align-content: center;
	heigth: 2000px;
}
a{
	color : white;
}