body 
{ 
	text-align: center;
	color: white;
	background: linear-gradient(to bottom right, #66ccff, #000000);
	font-family: verdana; 
	font-size: 8.5pt;
	line-height:3;
}

a{
	color : white;
	font-size : 12pt;
	font-weight : normal;
}


.image2 {
    width: 40%;  /* Réduit la largeur de l'image à 60% de son taille d'origine */
    height: auto;  /* Garde la proportion de l'image */
}

.image3 {
    width: 50%;  /* Réduit la largeur de l'image à 50% de son taille d'origine */
    height: auto;  /* Garde la proportion de l'image */
}

h2
{
	font-size : 15pt;
	font-weight : normal;
}

h1
{
	font-weight : bold;
	text-decoration : underline;
}	

.frame {
	opacity: 0;
    transition: opacity 1s ease-out;
	text-align: center;
}

.frame.load {
	opacity: 1;
}

.multiImg {
	display: flex; 
	justify-content: space-around; 
	align-items: center;
}

.multiTxt {
	display: flex; 
	justify-content: space-around;
}

.haut {
	text-align: center;
	height: 50px;
	background-color: rgb(48, 59, 54);
}

.haut h1 {
	color: white;
    text-decoration: none;
	font-size: 20px;
}

.bas {
	display: flex;
    align-items: center;
    justify-content: flex-start;
	height: 50px;
	background-color: rgb(48, 59, 54);
}

.frame p {
	border-color: black;
	text-align: center;
}

.bas a {
    color: black;
	background-color: white;
    text-decoration: none;
	font-size: 20px;
	width: 100px;
	height: 50px;
}

.bas a:hover {
    color: white;
	background-color: black;
    text-decoration: none;
	font-size: 20px;
	width: 100px;
	height: 50px;
}

.cadre {
	border: 10px solid blue;
	padding: 5px;
	text-align: center;
	font-size: 20px;
}

.titre {
	font-size: 23px;
	color: white;
	font-weight: 1000;
}

#nextButton {
	display: none;
	background-color: orangered;
	color: orange;
	border-radius: 20%;
	font-size: large;
	width: 150px;
	height: 50px;
}

#repButton {
	display: block;
	background-color: green;
	color: lightgreen;
	border-radius: 20%;
	font-size: large;
	width: 150px;
	height: 50px;
}