body 
{ 
text-align: center;
color: white;
background-color : rgb(11, 0, 221);
font-family: verdana; 
font-size: 8.5pt;
line-height:3;

}

a{
	color : white;
	font-size : 12pt;
	font-weight : normal;
}

h2
{
	font-size : 15pt;
	font-weight : normal;
}

h1
{
	font-weight : bold
	text-decoration : underline
}	

.frame {
	opacity: 0;
    transition: opacity 1s ease-out;
	text-align: center
}

.bluebg {
	background-color: rgb(11,0,221);
}

.frame.load {
	opacity: 1;
}

.haut {
	text-align: center;
	height: 50px;
	background-color: rgb(48, 59, 54);
}

.bas {
	display: flex;
    align-items: center;
    justify-content: flex-start;
	height: 50px;
	background-color: rgb(48, 59, 54);
}

.bas a {
    color: black;
	background-color: white;
    text-decoration: none;
	font-size: 30px;
}

.bas a:hover {
    color: white;
	background-color: black;
    text-decoration: none;
	font-size: 30px;
}
